.ul-container {
  list-style-type: none;
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
}
.header-container {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
  padding: 5px;
  /* margin-bottom: 10px; */
}
.logo {
  height: 30px;
  width: 120px;
}
.logout-btn {
  height: 30px;
  background-color: #6366f1;
  border: none;
  padding: 5px;
  border-radius: 3px;
  width: 100px;
}
.disable-link {
  text-decoration: none;
  color: white;
}
